.cart {
    padding-top: 100px;
    min-height: 120vh;
    background-color: #e9ecee;
    /* background-color: white; */
}

/* .main-image{
    aspect-ratio: 3/2;
} */
.quantity-button {
    border: 1px solid black;
    max-width: 70px;
}

.main-image {
    max-width: 100px;
}

.order-detail {
    background-color: #e9ecee;

}

.summary-detail {
    max-height: 370px;
    /* position: sticky; */
    /* top: 100px; */
    /* z-index: 0; */
}

.empty-cart {
    min-height: 75%;
}

.login-checkout-btn{
    background-color: darkseagreen;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	/* cursor:none; */
	outline: inherit;
    text-align: center;
    color:white 
}


@media (max-width:550px) {
    .cart-restaurant-name {
        font-size: 18px;
    }
}