.checkout-container {
    background-color: #e9ecee;
    min-height: 120vh;
    padding-top: 50px;
}

.location-image {
    width: 13px;
    margin-top: -7px;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
label:focus
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.add-location-text {
    font-size: 14px;
    color: gray;
}

.add-address-button {
    font-size: 13px;
}

.payment-method {
    background-color: #e9ecee;
    cursor: pointer;

}

.payment:hover{
    color: orange;
}

.payment-input::placeholder{
    font-size: 12px;
}

.payment-input{
    margin-bottom: 5px;
}