*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    min-width: 100vw;
    position: fixed;
    top: 0;
}

.header-logo{
    width: 20px;
}

.heading{
    font-size: 16px;
    padding-top: -20px;
}
.heading:hover{
    color: orange;
}

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: inherit;
}

.header-logo:hover{
    scale: 1.1;
    transition: 0.4s;
}
.ul-container{
    min-width: 50vw;
}

.header-icon{
    max-width: 15px;
    /* background-color: red; */
}

.login-head{
    margin-left: -8px;
}

.nav-text{
    color: black;
    font-weight: 400;
}

.nav-text:hover{
    color: orange;
}

/* -------- search component ---------- */
.search{
    min-height: 100vh;
    margin-top: 80px;
}

.result-container{
    border: 1px solid white;

}

.result-container:hover{
    border: 1px solid lightgray;
}

.search-result-heading{
    background-color: #e9ecee;
    
}

.restaurants-description{
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 50px;
    min-height: 30px;
    font-size: 12px;
    color: gray;
}

.food-restaurant-image img{
    object-fit: cover;
}

.search-result-image{
    height: 102px;
}

.back-image{
    max-width: 15px;
}

.restorant-details{
    color: grey;
    font-size: 15px;
    font-weight: bold;
}

.food-details{
    color: grey;
}

/*  ------------ cart ------------ */

.cart-size{
    background-color: orange;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    width: 35px;
    text-align: center;
    font-size: 12px;
    margin-top: -10px;
}


/* ---------- login -------------------- */

.login-container{
    max-width: 100px;
    /* background-color: aqua; */
    align-self: center;
 
}

.header-login-button{
    background-color: inherit;
    border: none;
    color: inherit;
}

.header-login-button:hover{
    background-color: inherit;
    color: #fc8019;
}
.header-login-button:active{
    background-color: inherit;
    color: #fc8019;
}


.login-button{
    background-color: #fc8019;
    border: none;
    color: white;
    min-height: 40px;
}

.login-button:hover{
    background-color: #fc8019;
}
.login-button:active{
    background-color: #fc8019;
}

.login-input{
    border-radius: 0;
    margin-top: 1rem;
    margin-bottom: 20px;
}

.login-button:focus{
    outline: none;
    box-shadow: none;
}
.error-label{
    margin-top: -20px;
    margin-bottom: 0;
    padding: 0;
}