.main-restaurants {
    margin-top: 100px;
}

.Restaurants {
    min-height: 100vh;
}

.restaurant-container {
    border: 1px solid white;
    min-height: 410px;
}

.restaurant-container:hover {
    border: 1px solid rgb(99, 90, 90);
}

.restaurant-description {
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    min-height: 60px;
    max-height: 60px;
    font-size: 13px;
}

.rating {
    background-color: orange;
    color: white;
    max-width: 50px;
    font-size: small;
}

.view-restaurant div {
    margin-top: -10px;
}

.view-restaurant-container {
    min-height: 35px;
}

.view-restaurant {
    display: none;
}

.restaurant-container:hover>.view-restaurant-container>.view-restaurant {
    display: block;
    color: rgb(105, 63, 63);
}

@media (max-width:550px) {

    .main-restaurants{
        margin-top: 90px;
        margin-bottom: -10px;
    }

    .restaurant-container {
        min-width: 90vw;
        /* background-color: red; */
        margin-top: 5px;
        min-height: 430px;
    }


.view-restaurant-container {
    max-height: 20px;
}
}