.view-restaurants{
    margin-top: 100px;
    min-height: 100vh;
}

.food-image{
    max-height: 120px;
}

.food-description{
    overflow-y: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 45px;
    max-height: 45px;
}

hr{
    position: unset;
}